/*
 * Off Canvas at medium breakpoint
 * --------------------------------------------------
 */
    
    @media screen and (max-width: 48em) {
      .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
      }
      .row-offcanvas-left .sidebar-offcanvas {
        left: -33%;
      }
      .row-offcanvas-left.active {
        left: 33%;
        margin-left: -6px;
      }
      .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 33%;
        height: 100%;
      }
    }
    /*
 * Off Canvas wider at sm breakpoint
 * --------------------------------------------------
 */

@media screen and (max-width: 34em) {
  .row-offcanvas-left .sidebar-offcanvas {
    left: -45%;
  }
  .row-offcanvas-left.active {
    left: 45%;
    margin-left: -6px;
  }
  .sidebar-offcanvas {
    width: 45%;
  }
}

@media screen and (max-width: 450px) {
  .sort-flex.d-flex {
    display: block!important;
  }
  .dashboard .search-row .form-control.date {
    width: 10rem;
  }
}

@media screen and (max-width: 576px) {
  .add-wrapper span,
  .add-form {
    width: 80%;
  }
}

@media screen and (min-width: 577px) and (max-width: 991px) {
  .add-wrapper span,
  .add-form {
    width: 65%;
  }
}
@media screen and (max-width: 767px) {
	.navbar {
	  padding-top: 15px;
	}
  .navbar-nav {
    display: inline-block;
    margin-top: 3rem;
  }
  .navbar-collapse .nav-item {
    border-left: 0;
    float: left;
  }
  .logo-wrapper {
    margin: -16px -25px -16px -10px;
    padding-bottom: 10px;
  }
  .navbar-brand.logo {
    margin-top: -8px;
  }
  #sidebar {
    margin-top: 5px;
    margin-left: -2px;
    overflow-y: auto;
  }
  .dashboard .filter-dropdown,
  .dashboard .sort-dropdown,
  .form-control.search-here {
    width: 100%;
  }
  .sort-items {
    margin-top: 5px;
  }
  .signup-carousel {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .dashboard .search-row .form-control.date {
    width: 14.5rem;
  }
  .company-wrapper  {
    display: none;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .dashboard .search-row .form-control.date {
    width: 12rem;
  }
}