/* for the whole page */
@font-face {
    font-family: 'gelion_regularregular';
    src: url('gelion-regular-webfont.woff2') format('woff2'),
         url('gelion-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body,
html {
  height: 100%;
}
body {
    font-family: 'gelion_regularregular', sans-serif;
	color: #4F4F4F;
}
html {
	font-size: 62.5%;
}
p,
.employee-form label {
	margin-bottom: 0;
	font-size: 16px;
}
h6 {
	font-size: 2.4rem;
}
a:hover {
    text-decoration: none;
}
.ml-50 {
    margin-left: 5rem;
}
.btn {
    cursor: pointer;
}
/* workaround modal-open padding issue */

body.modal-open {
  padding-right: 0 !important;
}
.card {
  overflow: hidden;
}

.card-block .rotate {
  z-index: 8;
  float: right;
  height: 100%;
}

.card-block .rotate i {
  color: rgba(20, 20, 20, 0.15);
  position: absolute;
  left: 0;
  left: auto;
  right: -10px;
  bottom: 0;
  display: block;
  -webkit-transform: rotate(-44deg);
  -moz-transform: rotate(-44deg);
  -o-transform: rotate(-44deg);
  -ms-transform: rotate(-44deg);
  transform: rotate(-44deg);
}

/* navbar section */
.navbar {
	padding: 0 1rem;
}
.logo-wrapper {
	margin: -5px -21px -16px -10px;
    box-shadow: inset 0 0.5px 1px 0 rgba(0, 0, 0, 0.24);
    background-color: #081341;
    padding-top: 20px;
    padding-left: 25px;
}
.navbar.navbar-inverse,
#sidebar {
	box-shadow: 0 10px 20px 0 rgba(244, 242, 249, 0.36);
    background-color: #fff;
}
.navbar-brand.logo {
    margin-top: 15px;
    font-size: 2rem;
}
.navbar-collapse .nav-item{
	border-left: 1px solid #e7e8f2;
}
.navbar-collapse .nav-link i {
	color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
}
.notification-number {
    width: 19px;
    height: 19px;
    background-color: #44d7b6;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    color: #085d4a;
    padding-top: 2px;
    position: relative;
    top: -33px;
    right: -10px;
}
.navbar-inverse .navbar-toggler,
.navbar-inverse .navbar-toggler:hover,
.navbar-inverse .navbar-toggler:focus {
    border-color: #fff;
    color: #fff;
}
.navbar-toggler i {
	cursor: pointer;
}
.user-name {
  font-size: 14px;
  font-weight: 500;
  color: #25233a;
}
.user-role {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}
.navbar-inverse .dropdown-toggle::after {
	margin-top: 20px;
    margin-left: 20px;
}
.navbar-inverse .navbar-nav .nav-link.dropdown-toggle {
	padding-top: 6px;
}
.navbar-inverse .navbar-nav .nav-link {
	padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

/* sidebar section */

#sidebar {
  padding-left: 0;
  box-shadow: inset 0 0.5px 1px 0 rgba(0, 0, 0, 0.24);
  background-color: #081341;
  padding-right: 0;
  margin-top: -16px;
  padding-bottom: 4rem;
  /* height: 100%; */
}
#sidebar form {
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
}
#sidebar .form-control {
	margin-top: 35px;
    border-radius: 4px;
    background-color: #263059;
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.4px;
    padding: 10px 25px;
}
.sidebar-offcanvas .search {
	position: relative;
	top: -25px;
    left: 10px;
}
.sidebar-offcanvas .nav-item .nav-link {
    font-size: 14px;
    line-height: 1;
    color: #fff;
}
.sidebar-offcanvas hr {
  	border: 1px solid rgba(255, 255, 255, 0.13);
    width: 80%;
    margin-left: 0;
}
.mt-35 {
	margin-top: 35px;
}
.mt-120 {
    margin-top: 12rem;
}
.sidebar-offcanvas .nav-item .nav-link {
	margin-bottom: 10px;
	border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding-left: 18px;
    padding-bottom: 10px;
}
.sidebar-offcanvas .nav-item .nav-link.active, 
.sidebar-offcanvas .nav-link:hover,
.sidebar-offcanvas .nav-link:focus {
	font-weight: 600;
    color: #fff;
    border-left: 1px solid #fafafa;
    background-color: rgba(248, 244, 255, 0.09);
}
.sidebar-offcanvas .nav-item .nav-link.active img, 
.sidebar-offcanvas .nav-link:hover img,
.sidebar-offcanvas .nav-link:focus img {
    filter: invert(71%) sepia(58%) saturate(6024%) hue-rotate(226deg) brightness(99%) contrast(96%);
    opacity: 0.44;
}
.sidebar-offcanvas span {
    font-size: 12px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    padding: 1.5rem 2rem;
}
.nav .nav-link img {
	margin-top: -1px;
}

/* dashboard section */
.dashboard h3 {
    font-size: 26px;
    font-weight: bold;
    line-height: 1.38;
    letter-spacing: 0.4px;
    color: #000;
    margin-bottom: -5px;
}
.dashboard p,
.employee-form label {
    letter-spacing: 0.4px;
    color: rgba(0, 0, 0, 0.5);
}
.dashboard p span {
    font-weight: 500;
    color: #b620e0;
}
.transaction {
    background-image: linear-gradient(88deg, rgba(255, 255, 255, 0) 35%, #f4f3f8 135%);
    padding: 4rem 1.5rem 8rem 1rem;
    margin-left: -15px;
    padding-left: 15px;
    margin-bottom: 2rem;
}
.transaction .total {
    width: 48px;
    height: 48px;
    border-radius: 11px;
    text-align: center;
    padding-top: 10px;
}
.transaction .total-income {
	background-color: #f3f0ff;
}
.transaction .income {
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.5);
}
.transaction h6 {
	font-size: 24px;
	font-weight: 500;
	line-height: 1.17;
	letter-spacing: 0.38px;
	color: #000;
}
.transaction hr {
	border: 1px solid #f4f1fb;
	margin-top: 2.5rem;
	margin-bottom: 0;
}
.transaction .total-expenses {
	background-color: #fff5d8;
}
.transaction .total-transactions {
	background-color: #d0f2ff;
}
.transaction .total-revenue {
	background-color: #d6fff6;
}
.btn.btn-info.btn-download {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    border-radius: 6px;
    background-color: #6236ff;
    border-color: #6236ff;
    width: 100%;
    padding: 10px;
}
.organization {
    background: rgba(92, 56, 192, 0.8);
    /*opacity: 0.06;
    transform: rotate(172deg);
    mix-blend-mode: luminosity;*/
    border-radius: 4px;
    padding: 2rem 1.5rem 1.5rem 2.5rem; 
    margin-bottom: 1rem;
}
.organization h6 {
	width: 60%;
    font-weight: bold;
    line-height: 1.17;
    letter-spacing: 0.23px;
    color: #fff;
}
.organization span {
    font-size: 11px;
    letter-spacing: 0.2px;
    color: #fff;
    display: inline-block;
    margin-top: 5px;
}
.space-between {
	justify-content: space-between;
}
.mt-20 {
	margin-top: 2rem;
}
.mt-40 {
	margin-top: 4rem;
}
.transaction-graph {
	border-radius: 6px;
	box-shadow: 0 2px 4px 0 rgba(28, 41, 90, 0.04);
	border: solid 1px #eaedf7;
	padding: 1rem;
	padding-bottom: 2.5rem;
}
.transaction-graph .text {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.43;
    letter-spacing: 0.4px;
    color: #000;
}
.transaction-graph .trends {
    font-size: 15.2px;
    line-height: 1.63;
    letter-spacing: 0.48px;
    color: #636e95;
}
.transaction-graph .dropdown-menu {
	left: auto;
	right: 0;
}

/* Employees structure section */
.employees {
    border-radius: 7.2px;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.04);
    border: solid 0.8px #e8e6f1;
    background-color: #feffff;
    padding: 1rem;
    padding-bottom: 3rem;
}
.employees p {
    font-weight: 600;
    letter-spacing: 0.27px;
    color: #000;
}
.employees span {
    font-size: 11.2px;
    color: rgba(0, 0, 0, 0.5);
}
.transaction-table {
    border-radius: 7.6px;
    box-shadow: 0 2px 4px 0 rgba(28, 41, 90, 0.04);
    border: solid 0.9px #eaedf7;
}
.transaction-table p {
    font-weight: 600;
    letter-spacing: 0.2px;
    color: #171725;
    padding: 10px;
}
.btn.btn-info.download {
    border-radius: 6px;
    border: solid 1px #d2d5e1;
    background-color: #fafcfe;
	font-size: 14px;
	letter-spacing: 0.4px;
	text-align: center;
	color: #000;
	padding: 1rem;
}
.table td, 
.table th,
.table thead th {
    border-top: 0;
    border-bottom: 0;
}
.transaction-table thead {
    border-radius: 8px;
    background-color: #fafafb;
}
.transaction-table th p {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    padding: 5px;
}
.mark {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    padding-top: 9px;
}
.success-mark {
	background-color: #00aa84;
}
.transaction-table tbody p {
    font-size: 13.3px;
    letter-spacing: 0.19px;
    color: #171725;
    padding: 4px;
}
.transaction-table .d-flex {
    padding-left: 5px;
}
.pending-mark {
    background-color: #f7b500;
}
.decline-mark {
    background-color: #fc5a5a;
}
.transaction-table tbody p.status {
    border-radius: 4.8px;
    font-size: 12px;
    letter-spacing: 0.09px;
    padding: 7px 12px;
}
.completed {
    background-color: #00aa84;
    border-color: #00aa84;
    color: #fff!important;
}
.pending {
    background-color: #f7b500;
    border-color: #f7b500;
    color: #000!important;
}
.declined {
    background-color: #ffd4d4;
    border-color: #ffd4d4;
    color: #e02020!important;
}
.view {
    font-size: 11.4px;
    font-weight: 500;
    letter-spacing: 0.76px;
    color: #0062ff;
    text-decoration: none;
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px
}

/* Deals page */
.dashboard .form-control,
.dashboard .filter-dropdown {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: normal;
    color: #535875;
    padding: 7px 20px;
}
.dashboard .search-row .form-control,
.dashboard .search-row .filter-dropdown {
    opacity: 0.5;
    border-radius: 4px;
    border: solid 1px #aeb3cd;
    background-color: #ffffff;
}
.dashboard .search-row .form-control,
.dashboard .search-row .btn.btn-info {
    height: 36px;
    font-size: 14px;
}
.dashboard .search-row .form-control.date {
    width: 17rem;
    margin-right: 5px;
}
.dashboard .search-row .form-control.date,
.dashboard .search-row #filterMenuButton {
    background: #aeb3cd;
}
.search-row .btn.btn-info.btn-download {
    padding: 1rem 2.5rem;
    padding-top: 8px;
    margin-left: 5px;
}
.form-control.search-here {
    padding-left: 30px;
    width: 90%;
}
.search-icon {
    position: relative;
    font-size: 14px;
    top: -25px;
    left: 10px;
}
.btn.btn-info.btn-download.btn-go {
    background-color: #0364ff;
    border-color: #0364ff;
}
.dashboard .filter-dropdown,
.dashboard .sort-dropdown {
    line-height: 1.29;
    color: #535875;
    padding: 7px 10px;
}
.dashboard .filter-dropdown,
.dashboard .sort-dropdown,
.dashboard .dropdown-item {
    font-size: 14px;
}
/*.dashboard .filter-dropdown {
    border: solid 1px #aeb3cd;
    background: rgba(174, 179, 205, 0.5);
}*/
.dashboard .sort-dropdown {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.04);
    background-color: #fff;
    border-color: #fff;
}
.dashboard .filter-dropdown.dropdown-toggle::after,
.dashboard .sort-dropdown.dropdown-toggle::after {
    content: none;
}
.btn.btn-info.btn-add {
    background-color: #05bf70;
    border-color: #05bf70;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 10px;
    width: 100%;
}
.search-row .btn.btn-info.btn-add {
    padding-top: 9px;
    width: auto;
}
.dashboard .deals-table tbody tr,
.dashboard .total-table tbody tr {
    background: #fff;
}
.dashboard .deals-table tbody tr:hover {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.02);
  border: solid 1px #a475f6;
}
.dashboard .deals-table th p,
.dashboard .deals-table td p {
    padding-left: 10px;
     font-size: 14px;
}   
.dashboard .deals-table th p {
    opacity: 0.84;
    color: #535875;
}
.dashboard .deals-table td p,
.dashboard .deals-table td p a {
    font-size: 14px;
    color: #000;
}
.initiated,
.on-hold {
    display: inline-block;
    border-radius: 4px;
    padding: 2px 10px;
}
.initiated {
    background-color: rgba(9, 164, 132, 0.1);
    color: #104137;
}
.initiated-box,
.onhold-box {
    width: 10px;
    height: 10px;
    border-radius: 2px;
    margin-top: 5px;
    float: left;
}
.initiated-box {
    background-color: #09a484;
}
.on-hold {
    border-radius: 4px;
    background-color: rgba(247, 181, 0, 0.1);
    color: #251e0c;
}
.onhold-box {
    background-color: #f7b500;
}
.dashboard .deals-table td .initiated p {
    padding-left: 15px;
}
.dashboard .deals-table .deals-view {
    font-size: 14px;
    color: #0091ff;
    text-decoration: none;
}
.dashboard .deals-table .divider {
    font-size: 16px;
    color: #bdc7ce;
}
.dashboard .deals-table .deals-add {
    border-radius: 4px;
    background-color: #e8fcf4;
    font-size: 9px;
    font-weight: 500;
    line-height: 1;
    color: #05bf70;
    padding: 5px;
}
.dashboard .deals-table a.deals-add {
    text-decoration: none;
}
.dashboard .deals-table img {
    width: 50px;
}
.dashboard .deals-table  .delete-wrapper {
    border-radius: 3px;
    border: solid 0.6px #d5d5d5;
    background-color: #fafbfd;
    display: flex;
    justify-content: space-around;
    padding: 0;
    width: 60px;
    padding-left: 0;
    margin-left: 1rem;
}
.dashboard .deals-table  .delete-wrapper i:first-child {
    border-right: solid 0.6px #d5d5d5;
}
.dashboard .deals-table  .delete-wrapper i {
    padding: 5px;
}
.dashboard .deals-table .delete-wrapper i.fa-trash {
    color: #ef3826;
    cursor: pointer;
}
.margintop-2 {
    margin-top: 2px!important;
}
.space {
    height: 1rem;
}
.sort-items {
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.13px;
  color: #44444f;
}
.page-item.active .page-link,
.pagination .page-link {
    background: none;
    border: 0;
}
.pagination .page-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.1px;
    color: #92929d;
    padding-left: 1.5rem;
    padding-right: 1.5rem; 
}
.page-item.active .page-link {
    color: #0091ff;
}
.pagination .page-link.previous,
.pagination .page-link.next {
    width: 32px;
    height: 32px;
    transform: rotate(-180deg);
    border-radius: 4px;
    border: solid 1px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding-top: 5px;
    padding-left: 13px;
}
.sortbynumber {
  width: 61px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 0, 0.25);
  display: inline-flex;
  justify-content: center;
  margin-left: 1rem;
}
.sortbynumer p {
    font-size: 14px;
    color: #92929d;
}
.dashboard p.range-number {
    padding-right: 1rem;
    border-right: 1px solid #92929d;
    padding-top: 3px;
}
.dashboard p.angleup {
    margin-top: -3px;
}
.dashboard p.angledown {
    margin-top: -10px;
}
.deals-table td a {
    color: #0091ff;
    text-decoration: underline;
}

/* add grade page */
.nav.flex-column a.nav-link[aria-expanded="true"] i.fa-angle-down:before {
    content: "\f106";
}
.human-resources {
    list-style-type: none;
}
.human-resources .nav-item .nav-link {
    padding-left: 8px;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.2px;
    color: #9196aa;
}
.human-resources .nav-item .nav-link.active, 
.human-resources .nav-link:hover, 
.human-resources .nav-link:focus {
    font-weight: normal;
    color: #fff;
    color: #a475f6;
    border-left: none;
    background-color: transparent;
}
.back {
    font-size: 16px;
    letter-spacing: 0.4px;
    color: rgba(0, 0, 0, 0.5);
}
.back i,
.dashboard h3 span {
    color: #6236ff;
}
.add-wrapper {
    max-width: 678px;
    border-radius: 6px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.02);
    background-color: #fff;
    padding: 1.5rem;
    margin-top: 5.5rem;
}
.add-wrapper h6,
#addClientModal .modal-title {
    font-weight: bold;
    letter-spacing: 0.6px;
    color: #000;
}
.add-wrapper span {
    display: inline-block;
    font-size: 12px;
    letter-spacing: 0.3px;
    color: rgba(0, 0, 0, 0.5);
}
.add-wrapper span,
.add-form {
    width: 45%;
}
.add-form {
    padding: 5rem 0;
}
.add-form label {
    opacity: 0.9;
    font-family: Gelion;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}
.add-form .form-control {
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #000;
    border: solid 1px #aeb3cd;
}
.add-form .form-control:focus {
    border: solid 1px #e02020;
}
.add-form input.form-control,
.add-form select.form-control {
    height: 4.8rem!important;
}
.add-form select.form-control {
    padding: .5rem .75rem;
}
.add-form .btn.btn-info.btn-download,
.btn.btn-info.btn-cancel {
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    width: auto;
    padding: 10px 35px;
    margin-right: 5px;
    cursor: pointer;
}
.btn.btn-info.btn-cancel {
    background: transparent;
    border: solid 1px #e02020;
    color: #e02020;
}

select.form-control:not([size]):not([multiple]) {
    height: auto;
}
.mt-25 {
    margin-top: 2.5rem;
}
.btn.btn-info.btn-proceed {
    border-radius: 8px;
    background-color: #05bf70;
    border-color: #05bf70;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
}
.add-form .btn.btn-info.btn-proceed {
    padding-left: 6rem;
    padding-right: 6rem;
    height: 50px;
    margin-top: 27px;
}
.add-wrapper .get-started {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: normal;
    color: #131523;
}
.payroll-wrapper {
    border-radius: 6px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.02);
    background-color: #fff;
    padding: 3rem;
    text-align: center;
}
.payroll-wrapper p,
.payroll-wrapper h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: normal;
    color: #131523;
}
.payroll-wrapper span {
    display: block;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.5);
}
.dashboard .deals-table tfoot h6 {
    margin-bottom: 0;
    font-weight: bold;
}

/* add cash sales */
.add-client {
    font-size: 12px;
    color: #05bf70;
    position: relative;
    top: 5px;
}
.addModal .add-form {
    width: auto;
    padding: 2rem 0;
}
.saveModal .modal-header {
    display: block;
    border-bottom: 0;
}
.saveModal .payroll-wrapper {
    padding-top: 0;
}
.saveModal .payroll-wrapper h5 {
    font-size: 2.4rem;
    font-weight: 600;
}
.deleteModal .payroll-wrapper h6,
.deleteModal .modal-header h6 {
    color: #131523;
}
.deleteModal .payroll-wrapper {
    padding: 0;
    padding-bottom: 1rem;
}
.deleteModal .payroll-wrapper h6 {
    font-size: 16px;
    line-height: 1.5;
}
.deleteModal .modal-header h6 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
}
.saveModal .payroll-wrapper span {
    font-size: 1.6rem;
}
.error {
    font-size: 14px;
    color: #e02020!important;
}
#deleteModal .btn.btn-info.btn-cancel {
    background-color: #f0142f;
    border-color: #f0142f;
    padding: 1rem 3rem;
    color: #fff;
}
#deleteModal .cancel-btn {
    background: transparent;
    border: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #f0142f;
    position: relative;
    top: 10px;
    right: 10px;
}
.checkbox-wrapper {
    background: #f4f7fe;
    padding: 2rem;
}
.checkbox-wrapper p {
    font-size: 18px;
    color: #000;
    margin-top: -3px;
    font-weight: 600;
}
.checkbox-wrapper .sm-input-container {
    position: relative;
}
.checkbox-wrapper i {
    font-size: 18px;
} 
.checkbox-wrapper .percent {
    position: absolute;
    right: 15px;
    font-size: 16px;
    top: 11px;
}
.checkbox-wrapper .fa-close,
.deals-table .fa-close {
    cursor: pointer;
    float: left;
    color: red;
}
.deals-table .fa-close {
    font-size: 16px;
}
.checkbox-wrapper.checkbox-wrapper.no-background p {
    margin-left: 2.3rem;
}
.checkbox-wrapper .form-control {
    width: 12rem;
}
.checkbox-wrapper.no-background {
    background: transparent;
}

/* remuneration breakdown page */
.add-wrapper .overview {
    font-size: 12px;
    letter-spacing: 0.3px;
}
.add-wrapper hr {
    opacity: 0.15;
    border: solid 1px #aeb3cd;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}
.add-wrapper .employee-name,
p.bio {
    color: #000;
}
.add-wrapper.tips-wrapper {
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(28, 41, 90, 0.04);
    border: solid 1px #eaedf7;
    margin-left: 5.5rem;
    padding-bottom: 10rem;
}
.add-wrapper.tips-wrapper h5 {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: 0.5px;
    color: #242f57;
}
.tips-wrapper p,
.tips-wrapper ul {
    font-size: 14px;
    color: #000;
}
.add-wrapper.tips-wrapper hr {
    box-shadow: 0 2px 4px 0 rgba(28, 41, 90, 0.04);
    border: solid 1px #eaedf7;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.tips-wrapper .all-deduction {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.64;
    letter-spacing: 0.5px;
}
.dashboard .total-table td {
    border-right: 1px solid #d7dbec;
}
.dashboard .total-table td:last-child {
    border-right: 0;
}
.dashboard .total-table td p {
    font-size: 14px;
    line-height: 1.43;
    padding-left: 3rem;
}
.dashboard .total-table td p.total-tax {
    color: #0076d0;
}
.dashboard .total-table td p.total-net{
    color: #05bf70;
}
.dashboard .total-table td p.total-pension{
    color: #b620e0;
}
.dashboard .total-table td p.total-nhf{
    color: #cf5109;
}
.dashboard .total-table td p.other-deductions {
    color: #8e91a4;
}
.dashboard .total-table td h6 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    color: #131523;
    padding-left: 3rem;
}

/* signup page */
.signup-wrapper {
    padding: 4rem 6rem 5rem 6rem;
}
.signup-wrapper h3 {
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.69px;
    color: #000;
}
.signup-wrapper label {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}
.signup-wrapper .form-control {
    height: 4.8rem;
    border-radius: 6px;
    border: solid 1px #aeb3cd;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #000;
    padding-left: 2.5rem;
}
.signup-wrapper .agree {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: normal;
    color: #242f57;
}
.signup-wrapper .agree a {
  color: #6236ff;
}
.signup-carousel {
    margin-right: -15px;
    background: url(./../images/signup.png);
    background-size: cover;
    background-position: center;
    padding: 4rem 0;
    padding-bottom: 20rem;
    color: #fff;
    height: 100%;
}
.signup-carousel .carousel {
    top: 95%;
}
.signup-carousel .carousel-item {
    justify-content: center;
}
.signup-carousel .carousel-indicators {
    bottom: -5rem;
}
.signup-carousel .carousel-indicators li {
    max-width: 10px;
    height: 10px;
    border-radius: 50%;
}
.signup-carousel h5 {
    font-size: 26px;
    font-weight: bold;
    line-height: 1.38;
    letter-spacing: 0.5px;
    color: #fff;
}
.signup-carousel p {
    width: 75%;
    margin: auto;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.5px;
}

/* onboarding page */
.back a {
    font-size: 16px;
    letter-spacing: 0.4px;
    color: rgba(0, 0, 0, 0.5);
}
.back a i {
    color: #6236ff;
}
.company-wrapper {
    background: #6236ff;
    padding: 8rem;
    height: 100vh;
}
.company-wrapper h4 {
    font-size: 2.8rem;
    font-weight: bold;
    color: #fff;
}
.company-wrapper p {
    color: rgba(0, 0, 0, 0.5);
}
.company-wrapper p.company-details {
    width: 52%;
    font-size: 16px;
    line-height: 1.5;
    color: #c7c1db;
}
.number,
.text {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.number {
    width: 26px;
    height: 26px;
    border: solid 1px #aeb3cd;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}
.text {
    color: #aeb3cd;
}
.number.active {
    background-color: #fff;
    color: #6236ff;
}
.text.active {
    color: #fff;
}
.mb-50 {
    margin-bottom: 5rem;
} 
.module-wrapper {
    border-radius: 10px;
    border: solid 1px #dbdce1;
    padding: 1rem;
}
.module-wrapper:hover,
.module-wrapper:active,
.module-wrapper:focus {
    outline: solid 1px #05bf70;
    border: solid 1px #05bf70;
}
.module-wrappper h6 {
    font-size: 19.2px;
    font-weight: 500;
    color: #000;
}
.module-wrapper p {
    font-size: 14px;
    color: #aeb3cd;
}
.img-wrapper {
    margin-right: -8rem;
    margin-top: 7rem;
}

/* success page */
.success-wrapper {
    background-color: #6236ff;
    padding: 4rem;
    color: #fff;
}
.success-wrapper h2 {
    font-size: 43.2px;
    font-weight: bold;
}
.success-wrapper p {
    width: 90%;
    margin: 2rem auto;
    font-size: 19.2px;
    line-height: 1.5;
    color: #c7c1db;
}
.btn.btn-info.btn-dashboard {
    border-radius: 8px;
    background-color: #fff;
    border-color: #fff;
    padding: 1rem 8rem;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: #6236ff;
}
.basic-features {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}
.select-all a {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    /*cursor: pointer;*/
}
.final-wrapper {
    margin-top: 5rem;
}
.final-wrapper .form-check {
    border-radius: 8px;
    border: solid 1px #aeb3cd;
    padding: 5px 10px;
    width: 100%;
}
.mb-25 {
    margin-bottom: 2.5rem;
}
.nav.nav-pills {
    border-bottom: solid 1px #e0e1e8;
}
.nav-pills .nav-link {
  font-size: 18px;
  color: #aeb3cd;
}
.nav-pills .nav-item.show .nav-link, 
.nav-pills .nav-link.active {
    color: #6236ff;
    border-bottom: 1px solid #6236ff;
    cursor: default;
    background-color: transparent;
    border-radius: 0;
}
.table tbody+tbody {
    border-top: 0;
}

/* tasks page */
.show-all {
    display: flex;
    margin-top: 7px;
}
.show-all p {
    font-size: 18px;
    font-weight: normal;
    color: #92929d;
}
.show-all .dropdown p,
.show-all .dropdown a {
    font-weight: 500;
    letter-spacing: 0.1px;
    color: #44444f;
    font-size: 18px;
}
.dashboard .sort-dropdown span {
    color: #696974;
}
.all-tasks {
    max-width: 100%;
    overflow-x: auto;
    display: -webkit-box;
}
.task-wrapper {
    border-radius: 6px;
    border: solid 1px #e2e2ea;
    padding-top: 5px;
    width: 30rem;
    margin-right: 15px;
    height: 100%;
}
.task-wrapper p {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.11px;
    color: #696974;
}
.single-tasks-wrapper {
    max-height: 540px;
    overflow-y: auto;
}
.single-task {
    border-radius: 6px;
    background-color: #fff;
    padding: 5px 1rem 1.5rem 1rem;
}
.single-task p,
.single-task i,
.single-task span {
    font-size: 14px;
    letter-spacing: 0.1px;
}
.single-task .task-title {
    font-weight: 600;
    color: #171725;
    margin-bottom: 5px;
} 
.single-task .task-owner {
    color: #696974;
}
.single-task i,
.single-task span {
    color: #92929d;
}
.days-left {
    padding: 5px;
    border-radius: 5px;
    background-color: #f1f1f5;
}
.days-left.deadline {
    background-color: rgb(252 90 90 / 0.1);
}
.days-left.deadline i,
.days-left.deadline span {
    color: #fc5a5a
}
.single-task .progress {
    background: #e2e2ea;
    height: 4px;
}
.single-task .progress-bar {
    background: #3dd598;
}
.task-member {
    width: 32px;
    height: 32px;
    background-color: #82c43c;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    font-weight: 500;
    margin-top: 1rem;
    margin-right: 5px;
}
.task-member.other-members {
    border: solid 1px #e2e2ea;
    background: #fff;
}
.task-member.other-members p {
    font-size: 12px;
    color: #696974;
}
.task-member p {
    color: #fff;
}
.plus-wrapper {
    border-radius: 6px;
    border: solid 1px #e2e2ea;
    background-color: #fff;
    font-size: 18px;
    color: #92929d;
    text-align: center;
    padding: 1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.plus-wrapper a {
    display: block;
    color: #92929d;
}