@font-face {
  font-family: 'gelion';
  src: local('gelion'), url(./fonts/gelion.woff) format('woff');
}
*{
  box-sizing: border-box !important;
}

body {
  margin: 0;
  font-family: gelion, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  margin-bottom: 0px;
}

.ant-tabs-tab-btn:focus, .ant-tabs-tab-remove:focus, .ant-tabs-tab-btn:active, .ant-tabs-tab-remove:active{
  color: #6236ff !important;
  border-bottom-color: red !important;
}

.ant-tabs-tab:hover{
  color: #6236ff !important;
  border-bottom-color: red !important;
}

.bpSzDw .ant-tabs-nav::before:focus{
  color: #6236ff !important;
  border-bottom-color: red !important;
}
